body {
    background: #81ecec;
}

header {
    border: 1px solid red;
    width: 70%;
    margin: 0px auto;
}

article {
    border: 1px solid red;
    width: 70%;
    margin: 0px auto;
}

#foto-perfil {
    width: 160px;
    height: 160px;
    padding: 15px 0 0 15px;
}

#nome {
    font-size: 50px;
    float: right;
}