/* ids */
#education-ul {
    li {
        list-style-image: url(assets/icons/list/education.png);
    }
    ul li {
        list-style-image: url(assets/icons/list/item.png);
    }
}

#pub-ul {
    li {
        list-style-image: url(assets/icons/list/paper.png);
    }
    ul li {
        list-style-image: url(assets/icons/list/item.png);
    }
}

#phone-ul {
    li {
        list-style-image: url(assets/icons/list/phone.png);
    }
    ul li {
        list-style-image: url(assets/icons/list/item.png);
    }
}

#mail-ul {
    li {
        list-style-image: url(assets/icons/list/mail.png);
    }
    ul li {
        list-style-image: url(assets/icons/list/item.png);
    }
}

#profile-pic {
    width: 13%;
    border-radius: 50%;
    border: 3.5px solid #0F1035;
    float: right;
    margin-right: 7em;
    position: relative;
    top: -1em;
    z-index: 1;
}

#social-graph {
    width: 60%;
    position: absolute;
    top: -10em;
    left: -7em;
    rotate: -10deg;
    clip: auto;
}

#social-list {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        display: inline;
    }
    li a{
        text-decoration: none;
        color: #7FC7D9;
        padding: 0 5px;
        margin: 0 20px;
    }
}

#intro-txt {
    /* background-color: yellow; */
    margin-left: 7em;
    float: left;
    position: relative;
    top: 1em;
    z-index: 1;
}

/* classes */

.content {
    /* background: yellow; */
    /* margin: 0 25px; */
    margin: 0 2.5%;
}

/* standard tags */

header {
    position: relative;
    background: #365486;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
    color: #DCF2F1;
    line-height: 1em;
    overflow: hidden;
    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

nav {
    background: #365486;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    clear: both;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 0 auto;
    }
    li {
        display: inline;
    }
    li a{
        text-decoration: none;
        color: #7FC7D9;
        padding: 5px 10px;
        margin: 0 30px;
    }
    li a:hover{
        background: #7FC7D9;
        color: #365486;
    }
}

body {
    background-color: #DCF2F1;
    background-image: radial-gradient(#0F1035 0.55px, #DCF2F1 0.55px);
    background-size: 11px 11px;
    background-attachment: fixed;
    font-family: 'Courier New', monospace;
    text-align: justify;
    margin: 0 auto;
}

main {
    background: #7FC7D9;
    padding: 10px;
    text-align: justify;
    color: #0F1035;
    width: 75%;
    line-height: 1.3em;
    word-spacing: -0.07em;
    margin: 0 auto;
    clear: both;

    li {
        list-style-type: none;
    }
    ul {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: #365486;
    }
}

footer {
    background: #365486;
    padding: 5px 10px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #DCF2F1;
    clear: both;
}